
.weatherBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weatherBackground.clear-day{ background-image: url('/images/background/clear-day.jpg'); }
.weatherBackground.clear-night{ background-image: url('/images/background/clear-night.jpg'); }
.weatherBackground.rain{ background-image: url('/images/background/rain.jpg'); }
.weatherBackground.snow{ background-image: url('/images/background/snow.jpg'); }
.weatherBackground.sleet{ background-image: url('/images/background/sleet.jpg'); }
.weatherBackground.wind{ background-image: url('/images/background/wind.jpg'); }
.weatherBackground.fog{ background-image: url('/images/background/fog.jpg'); }
.weatherBackground.cloudy{ background-image: url('/images/background/cloudy.jpg'); }
.weatherBackground.partly-cloudy-day{ background-image: url('/images/background/cloudy.jpg'); }
.weatherBackground.partly-cloudy-night{ background-image: url('/images/background/partly-cloudy-night.jpg'); }
.weatherBackground.hail{ background-image: url('/images/background/hail.jpg'); }
.weatherBackground.thunderstorm{ background-image: url('/images/background/thunderstorm.jpg'); }
.weatherBackground.tornado{ background-image: url('/images/background/tornado.jpg'); }